.react-time-picker__wrapper {
  border: none;
  outline: none;
}

.react-time-picker__inputGroup__hour {
  width: 16px !important;
}
.react-time-picker__inputGroup__minute {
  width: 16px !important;
}
