@font-face {
  font-family: "Arima Madurai";
  src: url("ArimaMadurai-Regular.woff2") format("woff2"),
    url("ArimaMadurai-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arima Madurai";
  src: url("ArimaMadurai-ExtraBold.woff2") format("woff2"),
    url("ArimaMadurai-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
